.footer-container {
  @include xy-grid;
  margin-top: rem-calc(0);
  background-color: $dark-gray;
}

.footer-cred {
  background-color: $dark-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 1.618em;
  p {
    margin-bottom: 0;
    font-size: 14px;
  }
  .social-icons-footer {
    font-size: 2rem;
    i {
      margin: 5px;
    }
  }
  span.tfs-copyright {
    margin-right: 1em;
  }
  span.tfs-footer-date {
    margin-left: 1em;
  }
}

.footer-grid {
  @include xy-grid;
  padding: rem-calc(30) 0;
  
  h6 {
    font-size: rem-calc(22);
    color: $font-white;
  }
  
  p {
    color: $font-white;
  }

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
